@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
.caption {
    display: grid;
    padding-right: 3em;
    padding-left: 3em;
}

.caption > img {
    margin-left: auto;
    margin-right: 0;
    height: fit-content;
    width: 40%
}

#star-1 {
    height: 20px;
    width: 20px;
    margin-left: 6em;
    position: relative;
}

.hero-section {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1em 3em 0 3em;
    border-bottom: 1px solid rgba(124, 124, 124, 0.346);
    margin-bottom: 1em;
}

.hero-section > section:first-child > img {
    margin-top: 0;
    width: 90%;
    height: fit-content;
}
.hero-section > section:first-child > p {
    max-width: 70%;
    padding-bottom: 0.6em;
}

.counter {
    font-family: 'Unica One', cursive;
    font-weight: 300;
    padding-top: 0.3em;
    font-size: 2.8em;
}
.counter > span {
    font-size: 0.3em;
}

.hackathon-grp {
    display: flex;
    width: 100%;

    padding: 2em 3em;
}

.hackathon-grp > div {
    margin: auto;
    display: grid;
    place-items: center;
    height: fit-content;
}

.hackathon-grp > div > img {
    width: 80%;
    height: fit-content;
}
.hackathon-grp > div > .content {
    line-height: 2em;
    width: 80%;
}
.hackathon-grp > div > .heading {
    width: 80%;
    font-size: 2em;
    font-family: 'Clash Display';
    font-weight: 600px;
    word-spacing: 5px;
    padding-bottom: 0.3em;
}


@media screen and (max-width: 920px) {
    .hero-section {
        display: grid;
        padding: 1em 2.8em 0 2.8em;
        grid-template-columns: 100%;
        place-items: center;
    }
    .hero-section > section:first-child {
        display: grid;
        place-items: center;
        margin-bottom: 1em;
    }
    
    .caption > img {
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
        width: 100%
    }
    .hero-section > section:first-child > p {
        font-size: 0.9em;
        max-width: 100%;
        margin-top: 1em;
        text-align: center;
    }
    .hero-section > section:first-child > img {
        width: 100%;
    }
    #star-1 {
        height: 12px;
        width: 12px;
        margin-top: 1.4em;
        margin-left: 8em;
        margin-bottom: -0.8em;
        position: relative;
    }
    .hero-section > section:last-child > img {
        height: fit-content;
    }

    .hackathon-grp {
        display: flex;
        flex-wrap: wrap;
        padding: 2em 2em;
    }

    .odd {
        flex-direction: column-reverse;
    }

    .hackathon-grp > div {
        display: grid;
        place-items: center;
    }

    .hackathon-grp > div > .content {
        text-align: center;
        max-width: 100%;
    }
    .hackathon-grp > div > .heading {
        font-size: 1.4em;
        text-align: center;
        max-width: 100%;
        padding-top: 0.5em;
    
    }
}

